/* 폰트 관련 */

.f_w_bolder{font-weight: bolder;}
.f_s_20{font-size:20px;}
.c_red{color:red;}
.c_white{color:white;}
.f_s_oblique{font-style: oblique;}
.b_c_red{background-color : red;}

.press{ color:white; font-size:20px; }